# Animaux - traitement_des_datas

Commencer par exécuter la cellule de code ci-dessous.

In [18]:
import csv
import pandas

def charger_fichier( nom_fic ):
    """
    Permet de lire un fichier CSV en utilisant la ligne d'entêtes
    Retourne une liste de dictionnaires.
    """
    table = []
    fichier_csv = open( nom_fic , "r", newline ="", encoding ="utf-8" )
    lecteur_fichier = csv.DictReader( fichier_csv , delimiter =",")    
    for enreg in lecteur_fichier :
        table.append (dict ( enreg )) # enreg est de type OrderedDict on le remet endict
    fichier_csv.close()    
    return table

def enregistrer_en_csv(chemin_fichier, table):
    with open(chemin_fichier, 'w', newline='', encoding = 'UTF-8') as csvfile:
        fieldnames = table[0].keys()
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
        writer.writeheader()
        for row in table:
            writer.writerow(row)

def afficher(table):
    f = pandas.DataFrame(table)
    return f

p1 = charger_fichier('./proprietaires1.csv')
p2 = charger_fichier('./proprietaires2.csv')
v1 = charger_fichier('./voitures1.csv')
v2 = charger_fichier('./voitures2.csv')
v3 = charger_fichier('./voitures3.csv')

afficher(p1)

                   vin                   nom              ville           etat
0    SCFAD05D49G015739     Deane Meadowcraft          Cambridge  Massachusetts
1    WAUGU54D81N014453  Franciskus MacKilroe         Fort Worth          Texas
2    WVWED7AJ1BW280098        Currie Standen             Pueblo       Colorado
3    1N6AF0KY0EN732688         Leela Woolley            Detroit       Michigan
4    3N1CE2CP6FL121469          Dallas Carde             Newark     New Jersey
..                 ...                   ...                ...            ...
995  KL4CJDSB4FB719162         Ellen Varvell             Laredo          Texas
996  19UYA42663A630243         Clair Gauvain  North Little Rock       Arkansas
997  1FMJK1JT4FE583724      Randall Mowsdill      West Hartford    Connecticut
998  1G4PT5SVXE4160071            Vilma Lead         Louisville       Kentucky
999  WAUJT58E44A317589         Chaim Santino            Hampton       Virginia

[1000 rows x 4 columns]

In [19]:
afficher(v1)

                   vin         marque       modele annee    couleur
0    WUARL48H27K445065           Ford     Aerostar  1986       Teal
1    2HNYD2H32DH900167          Mazda       Navajo  1991     Violet
2    JH4DC54842C828185           Jeep      Liberty  2009  Turquoise
3    WBAYE8C56ED997058  Mercedes-Benz     CL-Class  1999     Fuscia
4    1B3BD4FB7BN591271     Volkswagen       Passat  1991     Purple
..                 ...            ...          ...   ...        ...
995  WAUDFAFL0AA683592  Mercedes-Benz         400E  1992      Khaki
996  WAUGL78E47A085070          Lexus           GS  2004     Indigo
997  1G6DK1E39C0153522       Chrysler    Fifth Ave  1992      Khaki
998  WBALW3C53EC214455           Ford       Escort  1993    Crimson
999  2G4GR5EC7B9011764        Lincoln  Continental  1985     Orange

[1000 rows x 5 columns]

In [39]:
p = p1 + p2
s = set([px['nom'] for px in p])
len(s)

2000

In [40]:
import random
import copy

v = v1 + v2 + v3
pnew = []
for vx in v:
    proprio = copy.deepcopy(random.choice(p))
    proprio['vin'] = vx['vin']
    pnew.append(proprio)
    
random.shuffle(pnew)
enregistrer_en_csv('./proprietaires.csv', pnew)

In [41]:
enregistrer_en_csv('./voitures.csv', v)

In [42]:
vvin = set([vx['vin'] for vx in v])
pvin = set([px['vin'] for px in pnew])

xxx = vvin.intersection(pvin)
len(xxx)

3000

In [43]:
len(vvin)

3000

In [44]:
len(pvin)

3000

In [47]:
s = dict()
for px in pnew:
    if px['nom'] in s.keys():
        s[px['nom']] += 1
    else:
        s[px['nom']] = 1

ss = dict()
for v in s.values():
    if v in ss.keys():
        ss[v] += 1
    else:
        ss[v] = 1
ss
#repartition du nombre de véhicules par propriétaire

{3: 236, 2: 509, 1: 700, 5: 24, 4: 109, 6: 3}

In [48]:
somme = 0
for k,v in ss.items():
    somme += k*v
somme

3000